/* ====================[header]==================== */

/* ツールバーの各要素 */

ul.tool_bar>li:hover{
    background: #4b64d1;
}

ul.tool_bar>li>ul#menu{
    position: relative;
    display: none;
    padding: 0;
}

ul.tool_bar>li:hover>ul#menu{
    display: block;
    position: absolute;
    z-index: 2;
}

ul.tool_bar>li>ul#menu>li:hover{
    background: #7ba5ff;
}

/* ====================[modal window]==================== */
div#modal>div.content {
    animation-name: modalopen;
    animation-duration: 0.5s;
}

@keyframes modalopen {
    from {opacity: 0}
    to {opacity: 1}
}

div#modal div.footer button.button:hover {
    background-color: #7ba5ff;
}

div#modal div.footer button.button:active {
    background-color: #4b64d1;
}

/* ====================[layer controller]==================== */
div#layer_controller:hover>div#frame>div#leave_mouse {
    display: none;
}

div#layer_controller:hover>div#frame>section#on_mouse {
    display: block;
    padding: 6px 10px 6px 6px;
}

div#layer_controller:hover>div#frame>section#on_mouse>label>div>span {
    font: 12px/1.5 "Helvetica Neue", Arial, Helvetica, sans-serif;
}