/* ====================[header]==================== */

/* ツールバー */
ul.tool_bar {
    list-style-type: none;      /* リストのマーカは何も表記しない */
    color: #fff;              /* 色は白色 */
}

/* ツールバーの各要素 */
ul.tool_bar>li {
    cursor: pointer;            /* マウスホバー時カーソルをポインタにする */
    background: #7ba5ff;
}

ul.tool_bar>li>ul#menu{
    scroll-behavior: smooth;
}

ul.tool_bar>li>ul#menu>li{
    list-style-type: none;      /* リストのマーカは何も表記しない */
    background: #9bb7f5;
}

ul.tool_bar>li>ul#menu>li>a{
    color: white;
    text-decoration: none;
}

/* ====================[modal window]==================== */
div#modal {
    background-color: rgba(0, 0, 0, 0.5);
}

div#modal>div.content {
    background-color: #f4f4f4;
    box-shadow: 0 5px 8px 0 rgba(0,0,0,0.2),0 7px 20px 0 rgba(0,0,0,0.17);
}

div#modal div.header {
    background: #9bb7f5;
    justify-content: space-between;
}

div#modal div.footer {
    color: black;
}

div#modal div.footer button.button {
    border-radius: 10px;
    border: solid #7ba5ff;
    background-color: transparent;
    color: #7ba5ff;
}

/* ====================[layer controller]==================== */
div#layer_controller>div#frame {
    border: 2px solid rgba(0, 0, 0, 0.2);
    background-clip: padding-box;
    box-shadow: none;
    border-radius: 5px;
    background-color: white;
}

div#layer_controller>div#frame>section#on_mouse>div#separator {
    border-top: 1px solid #ddd;
}