canvas {
  position:absolute;
  top: 0px;
  left: 0px;
  bottom: 0px;
  z-index: 0;
}
body {padding: 0; margin: 0}
html, body{
  position:absolute;
  top:0px;
  left:0px;
  bottom:0px;
  right:0%;
}
#menu_a,#menu_b,#menu_c,#menu_d{
  z-index:2;
}
#map {
  position:absolute;
  right: 0px;
  left: 100px;
	top: 50px;
  bottom: 100px;
  z-index:1;
}
#slider_parent{
  position: absolute;
  right: 20px;
  left: 650px;

  bottom: 10px;
  z-index:3;
}
#tmp{
  position: absolute;
  right: 120px;
  left: 650px;

  bottom: 10px;
  z-index:3;
}
#play_h{　/*クラスで指定するとなぜか位置が指定できない*/
    width:30px;/*下限有*/
    height:25px;
    position: absolute;
    left: 590px;
    bottom: 35px;
    z-index: 3;
}
#play_t{　/*クラスで指定するとなぜか位置が指定できない*/
    width:30px;/*下限有*/
    height:25px;
    position: absolute;
    left: 590px;
    bottom: 5px;
    z-index: 3;
}
.dropdwn{
    max-width: 1200px;
    display: flex;
}

ul{
    text-align: center;
    list-style-type: none;
    margin: 0 auto;
    padding: 0;
    color: #fff;
}
li{
    max-width: calc(1200px/5);
    position: relative;
    padding: 5px;
    display: block;
    cursor: pointer;
}

.dropdwn>li{
    width: 1200px;
    margin: 1px;
    background: #7ba5ff;
    display: inline;
}

.dropdwn_menu{
    width: 100%;
    display: none;
    position: absolute;
    margin-left: -5px;
    margin-top: 5px;
    padding: 0;
    background: rgb(75, 100, 209);
}

.dropdwn_menu li{
    width: 100%;
}

.dropdwn_menu li a{
    padding: 5px 0;
    margin: -5px 5px -5px -5px;
    display: block;
    color: #fff;
}

li a:hover{
    background: #b3d7ff;
    color: rgb(65, 65, 65);
}
